<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/view_map.css">
{% if use_minimap %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/view_map.js"></script>
{% endif %}
</head>
<body>
<div id="map_img" style="background:url({{ map_img }}); width:{{ map_px_w }}px; height:{{ map_px_h }}px; position:relative;">
{% for o in objects %}
<div class="object" style="position:absolute; top:{{ o.px_y }}px; left:{{ o.px_x }}px; width:{{ o.px_w }}px; height:{{ o.px_h }}px;">
<div class="popup triangle-border">
{{ o.description }}
</div>
</div>
{% endfor %}
<div class="highlight"></div>
</div>
{% if use_minimap %}
<div id="minimap" style="background:url({{ minimap_img }}); width:{{ minimap_w }}px; height:{{ minimap_h }}px; position:fixed; bottom:10px; right:10px;">
<div id="selector" style="position:absolute;">
</div>
</div>
{% endif %}
</body>
</html>
