<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/view_map.css">
</head>
<body>
<div id="map_img" style="background:url({{ map_img }}); width:{{ map_px_w }}px; height:{{ map_px_h }}px; position:relative;">
{% for o in objects %}
<div class="object" style="position:absolute; top:{{ o.px_y }}px; left:{{ o.px_x }}px; width:{{ o.px_w }}px; height:{{ o.px_h }}px;">
<div class="popup triangle-border">
{{ o.description }}
</div>
</div>
{% endfor %}
</div>
</body>
</html>
