.popup {
    position: absolute;
    width: 150px;
    bottom: -20px;
    left: -53px;
    background: white;
    text-align: center;
}
.triangle-border {
    padding: 5px;
    margin: 1em 0 3em;
    color: #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-14px;
    left:46px;
    border-width:14px 14px 0;
    border-style:solid;
    border-color:black transparent;
    display:block;
    width:0;
}
.triangle-border:after {
    content:"";
    position:absolute;
    bottom:-13px;
    left:47px;
    border-width:13px 13px 0;
    border-style:solid;
    border-color:white transparent;
    display:block;
    width:0;
}
.object .popup {
    display: none;
}
.object:hover .popup {
    display: block;
}
